table.w3-centered td {
    vertical-align: middle;
    text-align: center;
}

table.w3-centered input {
    text-align: center;
}

.w3-input {
    padding: 4px;
}

.table {
    display: table;
    width: 100%;
}

.fixed-table {
    table-layout: fixed;
}

.table-row {
    display: table-row;
    white-space: nowrap;
}

.table-cell {
    vertical-align: middle;
    display: table-cell;
}

.table-column {
    display: table-column;
}

.table-cell .w3-button {
    padding: 5px 16px;
}

.padding-left {
    padding-left: 5px;
}

table tr .commands {
    visibility: hidden;
}

table tr:hover .commands {
    visibility: visible;
}

i.fa {
    cursor: pointer;
}