table.w3-centered td {
    vertical-align: middle;
    text-align: center;
}

table.w3-centered input {
    text-align: center;
}

.w3-input {
    padding: 4px;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}